<section class="text-white">
    <header class="d-flex flex-row align-items-center justify-content-start">
        <button class="btn bg-transparent border-0 text-white fs-1" type="button" (click)="navegationBetweenComponents()">
            <i class="bi bi-arrow-left-short"></i>
        </button>
        <p class="mb-0">Create Task</p>
    </header>
    <div class="contenido d-flex flex-column align-items-center">
        <form class="d-flex flex-column align-items-center ">
            <div class="w-100">
                <label>Title*</label>
                <input class="w-100" type="text" placeholder="Task Title">
            </div>
            <div class="d-flex flex-row gap-4 mb-5 mt-3">
                <div class="d-flex flex-column align-items-start">
                    <label>Due Date*</label>
                    <input type="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="d-flex flex-column align-items-start">
                    <label>Time*</label>
                    <input type="time" placeholder="00:00">
                </div>
            </div>
            <button type="submit" class=" w-100 text-white" (click)="onSubmit()">Save</button>
        </form>
    </div>
</section>
