<div class="container d-flex flex-column text-center align-items-center h-100 justify-content-center text-white " >
    <p class="fs-1">Welcome Back!</p>
    <p>Log in to your account to stay <br>organized and productive.</p>

    <form class="d-flex flex-column gap-4 w-50">
        <div class="d-flex flex-column gap-2">
            <input type="email"  class="form-control" placeholder="Email" required>
            <input type="password" class="form-control" placeholder="Password" required>
        </div>
        <div>
            <button  type="submit" class="btn btn-primary w-100 ">Log in</button>
        </div>
    </form>

</div>
