<section >
    <div class="backgroundgrid">
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
        <div class="grid"></div>
    </div>
    <div class="maincontent">
        <header class="d-flex align-items-center justify-content-center position-relative">
            <button type="button" class="position-absolute">
                <i class="bi bi-trash"></i>
            </button>
            <p class="mb-0 text-white fs-3">To Do List</p>
        </header>

        <div class="task-container" *ngIf="tasks.length > 0">
            <div class="task-information text-white bg-primary" *ngFor="let task of tasks">
                <div class="date-container  text-white">
                    <button type="button" (click)="toggleCheck(task)">
                        <div class="caja position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                 class="bi bi-square">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#7E64FF; stop-opacity:1"/>
                                        <stop offset="100%" style="stop-color:#241641; stop-opacity:1"/>
                                    </linearGradient>
                                </defs>
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
                                      fill="url(#gradient)"/>
                            </svg>
                            <div class="palomita position-absolute" *ngIf="task.checkDefaultStatus">
                                <i class="bi bi-check-lg"></i>
                            </div>
                        </div>
                    </button>
                    <div class="dateContainer">
                        <p>{{ task.weekDay }}</p>
                        <p>{{ task.day }}</p>
                        <p>{{ task.month }}</p>
                    </div>
                    <div class="divisor"></div>
                    <p>{{ task.time }}</p>
                </div>
                <div class="taskNameAndButton">
                    <p class="taskname">{{ task.taskName }}</p>
                    <button class="trash" type="button"  (click)="setModalVisibility(task)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <button type="button" class="plusButton" (click)="navegationBetweenComponents()"><i class="bi bi-plus-lg"></i></button>
    </div>

</section>
<app-modal-delete-confirmation *ngIf="modalDefaultVisibility"></app-modal-delete-confirmation>
