section {
  height: 100vh;
  position: relative;
  overflow-y: hidden;

  .backgroundgrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 39%;

    .grid {
      width: 75%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:not(:last-child) {
        margin-bottom: 97px;
      }

    }
  }

  .maincontent {
    position: relative;
    height: 100%;

    header {
      padding-top: 10%;

      button {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.7);
        border: none;
        border-radius: 3px;
        padding: 0.3rem 0.5rem;
        font-size: 1.2rem;
        left: 9%;
      }

      button:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .plusButton {
      color: white;
      border: none;
      border-radius: 100%;
      padding: 0.3em 0.55em;
      position: absolute;
      bottom: 8%;
      right: 9%;
      font-size: 2rem;

      background: linear-gradient(180deg, #7E64FF 0%, #241641 100%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    button:hover {
      opacity: 0.8;
      scale: 0.98;
    }

    .task-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 17.76%;
      position: relative;

      .task-information {
        display: flex;
        align-items: center;
        width: 80%;
        border-radius: 10px;
        gap: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .date-container {
          display: flex;
          align-items: center;
          background: #291947;
          padding: 1rem;
          gap: 1rem;
          border-radius: 10px;

          button {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.7);
            border: none;
            border-radius: 3px;
            padding: 0.3rem 0.5rem;
            font-size: 1.2rem;
            left: 9%;

            .caja{
              .palomita{
                top:2px;
                left:-2px;
                scale:0.7;
              }
            }
          }
          .dateContainer {
            display: flex;
            flex-direction: column;
            text-align: center;

            p {
              margin-bottom: -3px;
              font-size: 0.625rem;
              &:nth-child(2) {
                font-size: 1.2rem;
              }
            }
          }
          .divisor {
            width: 1.5px;
            height: 50px;
            background: linear-gradient(180deg, #7E64FF 0%, #241641 100%);
          }

          p {
            margin-bottom: 0;
          }
        }
        .taskNameAndButton{
          display: flex;
          align-items: center;

          .taskname {
            margin-bottom: 0;

          }
          .trash {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.7);
            border: none;
            border-radius: 3px;
            padding: 0.3rem 0.5rem;
            font-size: 1.2rem;
            position: absolute;
            right: 12%;


          }

          button:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

        }


      }
    }
  }
}



